<style type="text/css">
    
.image-odontologos-com{
    width: 100px;
    height:100px;
}

</style>

<div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="item in data">
	    <div class="card">
           <div class="card-header">
                <h2><a ng-href="{{item.link}}" hrefb>{{item.titulo}}</a>  </h2>                
            </div>

            <div class="card-body card-padding">
                <img  ng-src="{{item.imagen}}" alt="Description" />
                <p>{{item.descripcion}}</p>
            </div>
        </div>
    </div>
</div>