<div ng-controller="realizarOdontogramaCtrl">
	<div class="row">
		
		 <div class="col-sm-2">
		 	<h3>Diagnosticos</h3>
			<drill-down 
				source="Diagnosticos" 
				objeto-array="'arrayHefesoftTratamientos'" 
				title="'nombre'">
			</drill-down>
		</div>

		<div class="col-sm-8">			
			<odontograma
				pieza-modificada="piezaModificada(item)"
				diagnostico-seleccionado="diagnosticoSeleccionado"
				tratamiento-seleccionado="tratamientoSeleccionado">				
			</odontograma>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-2">
		</div>

		<div class="col-sm-4">
	        <listado-tratamientos
	        	ver-superficies="'true'"
	        	eliminar-callback="tratamientoEliminado(item)"
	        	seleccionado-callback="tratamientoSeleccionada(item)"	        	
	        	ocultar-add-tratamiento="'true'"
	        	ng-model="listadoTratamientosPorPiezaDental">
	        </listado-tratamientos>
    	</div>
    
	    <div class="col-sm-6">	       
	        <listado-procedimientos
	        	eliminar-callback="procedimientoEliminado(item)"
	        	ocultar-add-procedimiento="'true'"
	        	editable="'false'"
	        	eliminar-callback="eliminar(item,index)"
		        ng-model="listadoProcedimientosPorPiezaDental.arrayHefesoftProcedimientos">
	        </listado-procedimientos>
	        
	    </div>
	</div>

</div>