<div ng-controller="realizarOdontogramaCtrl">
	<div class="row">
		
		 <div class="col-sm-2">
		 	<h3>Diagnosticos</h3>
			<drill-down 
				source="Diagnosticos" 
				objeto-array="'arrayHefesoftTratamientos'" 
				title="'nombre'">
			</drill-down>
		</div>

		<div class="col-sm-8">			
			<odontograma
				pieza-modificada="piezaModificada(item)"
				diagnostico-seleccionado="diagnosticoSeleccionado"
				tratamiento-seleccionado="tratamientoSeleccionado">				
			</odontograma>
		</div>

	</div>

	<div class="row">
		<div class="col-sm-2">
		</div>

		<div class="col-sm-10">
		 <div style="overflow: auto;">
			<listados-diagnosticos				
				modo-lectura="'true'"
				tratamientos-callback="openTratamiento(item)"
				new-callback="open()"
				edit-callback="open(item)"
				eliminar-eliminar="eliminar(item, $index)"
				source="listadoDiagnosticos">
			</listados-diagnosticos>
		 </div>
		</div>		
	</div>
</div>