
<style type="text/css">

.contenedor-pieza-dental{
	width: 6%;
	margin-left: 1%;
}

.contenedor-fila-piezas-dentales{
	display: -webkit-box;
}

.contenedor-fila-piezas-dentales-temporales{
	display: -webkit-box;
	margin-left: 20%;
}

</style>

<div ng-show="permanente" class="contenedor-fila-piezas-dentales">
	<div 
	class="contenedor-pieza-dental" 
	ng-repeat="n in listado | filter:'parte1' | filter: textoBuscar">

		<pieza-dental
			ng-click ="seleccionar(n)"
			popover-template="dynamicPopover.templateUrl" 
			popover-title="{{dynamicPopover.title}}"
			popover-trigger="click"			 
			source="n" 
			ng-model="n">
		</pieza-dental>
	</div>	
</div>

<div ng-hide="permanente" class="contenedor-fila-piezas-dentales-temporales">
	<div 
	class="contenedor-pieza-dental" 
	ng-repeat="n in listado | filter:'parte2' | filter: textoBuscar">
		<pieza-dental 
			ng-click="seleccionar(n)" 
			source="n" 
			ng-model="n">
		</pieza-dental>
	</div>	
</div>

<div ng-hide="permanente" class="contenedor-fila-piezas-dentales-temporales">
	<div 
	class="contenedor-pieza-dental" 
	ng-repeat="n in listado | filter:'parte3' | filter: textoBuscar">
		<pieza-dental 
			ng-click="seleccionar(n)" 
			source="n" 
			ng-model="n">
		</pieza-dental>
	</div>	
</div>

<div ng-show="permanente" class="contenedor-fila-piezas-dentales">
	<div 
	class="contenedor-pieza-dental" 
	ng-repeat="n in listado | filter:'parte4' | filter: textoBuscar">
		<pieza-dental 
			ng-click="seleccionar(n)" 
			source="n" 
			ng-model="n">
		</pieza-dental>
	</div>	
</div>



<script type="text/ng-template" id="myPopoverTemplate.html">
    <div>{{dynamicPopover.content}}</div>
    <div class="form-group">
      <label>Popup Title:</label>
      <input type="text" ng-model="dynamicPopover.title" class="form-control">
      <button        
        ng-click="clickPiezaDental()" 
        class="btn btn-info btn-sm waves-effect waves-button waves-float">
            Seleccionar
        </button>
    </div>
</script>