
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>Diagnosticos <small>Diagnosticos disponibles</small></h2>
        </div>

        <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Orden</th>
                            <th>Estado</th>
                            <th>Tipo</th>
                            <th>Simbolo diagnostico</th>
                            <th>Simbolo evolucion</th>
                            <th>Desc Cie</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr ng-repeat="item in Listado">
                            <td>{{item.nombre}}</td>
                            <td>orden</td>
                            <td class="checkbox">                                 
                                <input type="checkbox" ng-checked="item.activo"/>
                                <i class="input-helper"></i>                                                                
                            </td>
                            <td>{{item.objectHefesoftTipo.nombre}}</td>
                            <td>{{item.simboloDiagnostico}}</td>
                            <td>{{item.simboloEvolucion}}</td>
                            <td>{{item.idiceCie}}</td>

                            <td>
                                <button 
                                ng-click="openTratamiento('lg', item)" 
                                class="btn btn-info btn-sm waves-effect waves-button waves-float">Tratamientos</button>
                            </td>
                            
                            <td>
                                <button ng-click="open('lg', item)" class="btn btn-info btn-sm waves-effect waves-button waves-float">Editar</button>    
                            </td>

                            <td>
                                <button ng-click="eliminar(item, $index)" class="btn btn-info btn-sm waves-effect waves-button waves-float">Eliminar</button>    
                            </td>                           

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card-body card-padding"> 
        <button ng-click="open('lg')" class="btn btn-info btn-sm waves-effect waves-button waves-float">Nuevo</button>    
    </div>

</div>

